/* стили для index.html */
:root {
  --main-black-color: #212121;
  --secondary-text-color: #757575;
  --hero-footer-bg-color: #2f303a;
  --extra-blue-color: #2196f3;
  --main-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  line-height: 1.2;
  letter-spacing: 0.03em;
}
/* Убираем маркеры в списках по умолчанию */
li {
  list-style-type: none;
}
/* Убираем подчеркивание в ссылках по умолчанию */
a {
  text-decoration: none;
}
/* Убираем курсив по умолчанию */
address {
  font-style: normal;
}

/* Шапка страницы */
header {
  background-color: var(--main-white-color);
}
/* Стили логотипа */
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-main {
  color: var(--extra-blue-color);
}
.logo-header {
  color: var(--main-black-color);
}
.logo-footer {
  color: var(--main-white-color);
}
/* Стили навигации */
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-black-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--extra-blue-color);
}
.site-nav .link:active {
  color: var(--extra-blue-color);
}
.header-address .header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.header-address .header-link:hover,
.header-address .header-link:focus {
  color: var(--extra-blue-color);
}
/* Основные стили контента страницы */

.hero-section {
  background-color: var(--hero-footer-bg-color);
  color: var(--main-white-color);
  letter-spacing: 0.06em;
}
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-white-color);
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background-color: var(--extra-blue-color);
  color: var(--main-white-color);
  cursor: pointer;
}
/* Стили для секции преимуществ компании */
.advantages-head .advantage {
  font-size: 14px;
  text-transform: uppercase;
}
.advantage-text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
}
/* Стили для секции услуг компании */
.company-services > .head {
  font-size: 36px;
  text-align: center;
}
/* Стили секции команда */
.team-section {
  background-color: var(--secondary-bg-color);
}
.our-team-head {
  font-size: 36px;
  text-align: center;
}
.name-colleague {
  font-weight: 500;
  font-size: 16px;
}
.specialty {
  font-size: 16px;
  color: var(--secondary-text-color);
}
/* Стили футера */
footer {
  background-color: var(--hero-footer-bg-color);
}
.footer-address {
  font-size: 14px;
  line-height: 1.7;
  color: var(--main-white-color);
}
.footer-contacts .footer-link {
  font-size: 14px;
  color: var(--footer-link-color);
}
.footer-contacts .footer-link:hover,
.footer-contacts .footer-link:focus {
  color: var(--extra-blue-color);
}

/* Стили для страницы портфолио */
.buttons-list .buttons-list-element {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--secondary-bg-color);
  color: var(--main-black-color);
  border-radius: 4px;
}
.buttons-list .buttons-list-element:hover {
  background-color: var(--extra-blue-color);
  color: var(--main-white-color);
  cursor: pointer;
}

.name-product {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: var(--main-black-color);
}
.type-product {
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-text-color);
}
/* визуально скрытые заголовки секцый */
.visually-hidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
